/* add media queries for responsiveness*/

body {
	background: url(../images/background.jpg); 
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}
 
#mainHeader {
	text-align: right;
}

img {
	padding: 5px;
}

#nemesis {
	border-radius: 5px;
	color: white;
	padding: 5px 15px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
}

#defeated-header {
	text-align: center;
}


