/* add media queries for responsiveness*/

/*faded in everything within the body element */
body {
	background: url(../images/background.jpg); 
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}
 
.container {
}

img {
	padding: 10px;
}

.fighter, .nemesis, .challenger, .loser {
	border-radius: 5px;
	color: white;
	padding: 5px 15px;
	text-align: center;
}


